name: Tests

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write

jobs:
  coverage:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Swift Coverage Action (Multi-Platform Test)
        uses: Snapp-Mobile/swift-coverage-action@feature/platform-detection
